__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
bin/tectonic.exe
generated/
uploads/
trashbin/
test_blast1/
test_blast1.pdf
*.log
*.aux
*.out
*.toc
*.lof
*.pdf
!Internship_Report.pdf
!bold_template.pdf
